@model Personalsystem.Models.CompanyDetailsViewmodel

@{
    ViewBag.Title = "Employees";
}

<h1>@Model.Name</h1>
<div>
    <h2>News</h2>
    <div class="company-box">

        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="/NewsItems/Create/" @(ViewBag.IsAdmin || ViewBag.IsBoss ? "" : "disabled")>Add News</a>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.NewsItems)
            {
                <div class="@(Model.NewsItems.Count >= 3 ? "col-md-4" : Model.NewsItems.Count == 2 ? "col-md-6" : "col-md-12")">
                    <div class="company-box company-box-secondary">
                        <h4>@Html.ActionLink(item.Title, "Details", "NewsItems", new { item.Id }, null)</h4>
                        <span>@item.Created - @item.CreatorName</span>
                        <p>@item.Content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <h2>Employees</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="company-box company-box-secondary">
                <a class="btn btn-default"href="/Companies/AddLeader/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Leader</a>
                <h3>Leadership</h3>

                <ul>
                    @foreach (var item in Model.Leadership)
                    {
                        <li>
                            @item.Name
                            <a href="/Companies/RemoveLeader/@(Model.Id)?userId=@(item.Id)" @(ViewBag.IsAdmin ? "" : "disabled")>Remove</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="company-box company-box-secondary">
                <a class="btn btn-default" href="/Companies/AddAdmin/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Admin</a>
                <h3>Administrators</h3>

                <ul>
                    @foreach (var item in Model.Admins)
                    {
                        <li>
                            @item.Name
                            <a href="/Companies/RemoveAdmin/@(Model.Id)?userId=@(item.Id)" @(ViewBag.IsAdmin ? "" : "disabled")>Remove</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="company-box">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="/Departments/Create/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Department</a>
                <h3>Departments</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Departments)
            {
                <div class="@(Model.Departments.Count >= 3 ? "col-lg-4" : "col-lg-12") @(Model.Departments.Count >= 2 ? "col-md-6" : "col-md-12")">
                    <div class="company-box company-box-secondary">
                        <a class="btn btn-default" href="#" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Schedule(todo)</a>
                        <a class="btn btn-default" href="#" @(ViewBag.IsAdmin ? "" : "disabled")>Edit(todo)</a>
                        <h4>@item.Name</h4>
                        <div class="company-box">
                            <a class="btn btn-default" href="/Departments/AddBoss/@item.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Boss</a>
                            <h4>Bosses</h4>
                            <ul>
                                @foreach (var boss in item.Bosses)
                                {
                                    <li>
                                        @boss.Name
                                        <a href="/Departments/RemoveBoss/@(item.Id)?userId=@(boss.Id)" @(ViewBag.IsAdmin ? "" : "disabled")>Remove</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="company-box">
                            <a class="btn btn-default" href="/DepartmentGroups/Create/@item.Id" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Add Group</a>
                            <h4>Groups</h4>
                            @foreach (var group in item.Groups)
                            {
                                <div class="company-box company-box-secondary">
                                    <a class="btn btn-default" href="#" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Schedule(todo)</a>
                                    <a class="btn btn-default" href="#" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Edit(todo)</a>
                                    <h4>@group.Name</h4>
                                    <div class="company-box">
                                        <a class="btn btn-default" href="/DepartmentGroups/AddEmployee/@group.Id" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Add Employee</a>
                                        <h4>Employees</h4>
                                        <ul>
                                            @foreach (var employee in group.Employees)
                                            {
                                                <li>
                                                    @employee.Name
                                                    <a href="/DepartmentGroups/RemoveEmployee/@(group.Id)?userId=@(employee.Id)" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Remove</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>
