@*@model Personalsystem.Models.CompanyUsersViewmodel

@{
    ViewBag.Title = "Employees";
}

<h1>@Model.Name</h1>

<div>
    <h2>Employees</h2>
    <div class="row">
        <div class="col-md-6" style="padding-right:5px;">
            <div style="border:solid black 2px; background-color:magenta; padding:10px;">
                <a class="btn btn-default" style="float:right;" href="/Companies/AddLeader/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Leader</a>
                <h3>Leadership</h3>

                <ul>
                    @foreach (var item in Model.Leadership)
                    {
                        <li>
                            @item.Name
                            <a href="/Companies/RemoveLeader/@(Model.Id)?userId=@(item.Id)" @(ViewBag.IsAdmin ? "" : "disabled")>Remove</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6" style="padding-left:5px;">
            <div style="border:solid black 2px; background-color:yellow; padding:10px;">
                <a class="btn btn-default" style="float:right;" href="/Companies/AddAdmin/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Admin</a>
                <h3>Administrators</h3>

                <ul>
                    @foreach (var item in Model.Admins)
                    {
                        <li>
                            @item.Name
                            <a href="/Companies/RemoveAdmin/@(Model.Id)?userId=@(item.Id)" @(ViewBag.IsAdmin ? "" : "disabled")>Remove</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div style="border:solid black 2px;background-color:pink; padding:10px; margin-top:5px;">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" style="float:right;" href="/Departments/Create/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Department</a>
                <h3>Departments</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.Departments)
            {
                <div class="@(Model.Departments.Count >= 3 ? "col-md-4" : Model.Departments.Count == 2 ? "col-md-6" : "col-md-12")">
                    <div style="border:solid black 2px;background-color:orange; padding:10px; margin:5px;">
                        <a class="btn btn-default" style="float:right;" href="#" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Schedule(todo)</a>
                        <a class="btn btn-default" style="float:right;" href="#" @(ViewBag.IsAdmin ? "" : "disabled")>Edit(todo)</a>
                        <h4>@item.Name</h4>
                        <div style="border:solid black 2px;background-color:cyan; padding:10px; margin:5px;">
                            <a class="btn btn-default" style="float:right;" href="/Departments/AddBoss/@item.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Boss</a>
                            <h4>Bosses</h4>
                            <ul>
                                @foreach (var boss in item.Bosses)
                                {
                                    <li>
                                        @boss.Name
                                        <a href="/Departments/RemoveBoss/@(item.Id)?userId=@(boss.Id)" @(ViewBag.IsAdmin ? "" : "disabled")>Remove</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div style="border:solid black 2px;background-color:lightgreen; padding:10px; margin:5px;">
                            <a class="btn btn-default" style="float:right;" href="/DepartmentGroups/Create/@item.Id" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Add Group</a>
                            <h4>Groups</h4>
                            @foreach (var group in item.Groups)
                            {
                                <div style="border:solid black 2px;background-color:lime; padding:10px; margin:5px;">
                                    <a class="btn btn-default" style="float:right;" href="#" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Schedule(todo)</a>
                                    <a class="btn btn-default" style="float:right;" href="#" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Edit(todo)</a>
                                    <h4>@group.Name</h4>
                                    <div style="border:solid black 2px;background-color:aquamarine; padding:10px; margin:5px;">
                                        <a class="btn btn-default" style="float:right;" href="/DepartmentGroups/AddEmployee/@group.Id" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Add Employee</a>
                                        <h4>Employees</h4>
                                        <ul>
                                            @foreach (var employee in group.Employees)
                                            {
                                                <li>
                                                    @employee.Name
                                                    <a href="/DepartmentGroups/RemoveEmployee/@(group.Id)?userId=@(employee.Id)" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true ? "" : "disabled")>Remove</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Back to Info", "Info", new { Model.Id })
</p>*@
