@model Personalsystem.Models.CompanyUsersViewmodel

@{
    ViewBag.Title = "Employees";
}

<h2>@Model.Name</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <div style="border:solid black 2px; background-color:yellow; padding:10px; margin:5px;">
        <h5>Administrators</h5>
        @*@Html.ActionLink("Add Admin", "AddAdmin", new { Model.Id }, new { @class = "btn btn-default", disabled = ""  })*@
        <a class="btn btn-default" href="/Companies/AddAdmin/@Model.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Admin</a>
        <ul>
            @foreach (var item in Model.Admins)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>
    <div style="border:solid black 2px;background-color:pink; padding:10px; margin:5px;">
        <h5>Departments</h5>
        @foreach (var item in Model.Departments)
        {
            <h6>@item.Name</h6>
            <div style="border:solid black 2px;background-color:cyan; padding:10px; margin:5px;">
                <h5>Bosses</h5>
                @*@Html.ActionLink("Add Boss", "AddBoss", "Departments", new { item.Id }, new { @class = "btn btn-default" })*@
                <a class="btn btn-default" href="/Departments/AddBoss/@item.Id" @(ViewBag.IsAdmin ? "" : "disabled")>Add Boss</a>
                <ul>
                    @foreach (var boss in item.Bosses)
                    {
                        <li>@boss.Name</li>
                    }
                </ul>
            </div>
            <div style="border:solid black 2px;background-color:lightgreen; padding:10px; margin:5px;">
                <h5>Groups</h5>
                @foreach (var group in item.Groups)
                {
                    <h6>@group.Name</h6>
                    <div style="border:solid black 2px;background-color:aquamarine; padding:10px; margin:5px;">
                        <h5>Employees</h5>
                        @*@Html.ActionLink("Add Employee", "AddEmployee", "DepartmentGroups", new { group.Id }, new { @class = "btn btn-default" })*@
                        <a class="btn btn-default" href="/DepartmentGroups/AddEmployee/@group.Id" @(ViewBag.IsAdmin || ViewBag.IsBossFor[item.Id] == true  ? "" : "disabled")>Add Employee</a>
                        <ul>
                            @foreach (var employee in group.Employees)
                            {
                                <li>@employee.Name</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

    </div>

</div>



<p>
    @Html.ActionLink("Back to Info", "Info", new { Model.Id })
</p>
