@model Personalsystem.Models.CompanyUsersViewmodel

@{
    ViewBag.Title = "Employees";
}

<h2>@Model.Name</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <div style="border:solid black 2px; background-color:yellow;">
        <h5>Administrators</h5>
        <ul>
            @foreach (var item in Model.Admins)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>
    <div style="border:solid black 2px;background-color:pink;">
        <h5>Departments</h5>
        @foreach (var item in Model.Departments)
        {
            <h6>@item.Name</h6>
            <div style="border:solid black 2px;background-color:cyan;">
                <h5>Bosses</h5>
                <ul>
                    @foreach (var boss in item.Bosses)
                    {
                        <li>@boss.Name</li>
                    }
                </ul>
            </div>
            <div style="border:solid black 2px;background-color:lightgreen;">
                <h5>Groups</h5>
                @foreach (var group in item.Groups)
                {
                    <h6>@group.Name</h6>
                    <div style="border:solid black 2px;background-color:aquamarine;">
                        <h5>Employees</h5>
                        <ul>
                            @foreach (var employee in group.Employees)
                            {
                                <li>@employee.Name</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

    </div>

</div>



<p>
    @Html.ActionLink("Back to Info", "Info")
</p>
