@model IEnumerable<Personalsystem.Models.Company>

@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class="btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class="btn btn-default" })
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Overview", "Overview", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
