@model Personalsystem.Models.Vacancy

@{
    ViewBag.Title = "Details " + (Model.Title);
}

<h2>Details @Model.Title</h2>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Email)
        </dd>
    </dl>
</div>
<p>
    <a class="btn btn-default" href="/Vacancies/Edit/@Model.Id">Edit</a>
    <a class="btn btn-info" href="/Vacancies/Index/">Back to List</a>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new {id = Model.DepartmentId }) |*@
    @*@Html.ActionLink("Apply", "Create", "Applications", new { id = Model.Id }, null)*@
    @Html.ActionLink("Apply", "Create", "Applications", new { id = Model.Id }, new { @class = "btn btn-primary" })
   
</p>
