@model IEnumerable<Personalsystem.Models.Vacancy>

@{
    ViewBag.Title = "Vakanser";
}

<h2>Vakanser</h2>

<a class="btn btn-default" href="/Vacancies/Create/@((int?)ViewBag.DepartmentId)" @(ViewBag.IsBoss ? "" : "disabled")>Skapa ny</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>

        @*<@*th>
            @Html.DisplayNameFor(model => model.Content)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Expired)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Expired)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id, depId = ViewBag.DepartmentId })|*@
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id, depId = ViewBag.DepartmentId }) |*@
            @*@Html.ActionLink("Ansök", "Create", "Applications", new { id = item.Id }, null)*@
            
            <a class="btn btn-info" href="/Vacancies/Details/@item.Id">Detaljer</a> |            
            <a class="btn btn-primary" href="/Applications/Create/@item.Id">Ansök</a> |            
            <a class="btn btn-default" href="/Vacancies/Edit/@item.Id?depId=@((int?)ViewBag.DepartmentId) " @(ViewBag.IsBoss ? "" : "disabled")>Ändra</a> |
            <a class="btn btn-danger" href="/Vacancies/Delete/@item.Id?depId@((int?)ViewBag.DepartmentId) " @(ViewBag.IsBoss ? "" : "disabled")>Ta bort</a>            
        </td>
    </tr>
}

</table>
