@model Personalsystem.Models.HomeIndexViewmodel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
    <hr />
    <div>
        <h2>Companies that you are part of</h2>
        <hr />
        <h3>
            @(Model.Companies.Count == 0 ? "You are part of no companies" : "")
        </h3>
        @foreach (var company in Model.Companies)
        {
            <div class="company-box">
                <h3>@Html.ActionLink(company.Name, "Details", "Companies", new { id = company.Id }, null)</h3>
                <span class="company-box-content">@company.Roles</span>
                <h4>@(company.NewsItems.Count() != 0 ? "News" : "No news")</h4>
                @foreach (var newsItem in company.NewsItems)
                {
                    <div class="company-box company-box-secondary">
                        <h4>@Html.ActionLink(newsItem.Title, "Details", "NewsItems", new { newsItem.Id }, null)</h4>
                        <span class="company-box-content">@newsItem.Created - @newsItem.CreatorName</span>
                        <p class="company-box-content">@newsItem.Content</p>
                    </div>
                }
            </div>
        }
    </div>
    <div>
        <h2>Your applications</h2>
        <hr />
        <h3>
            @(Model.Applications.Count == 0 ? "You have not made any applications" : "")
        </h3>
        <table class="table table-striped" style="@(Model.Applications.Count == 0 ? "display:none;" : "")">
            <thead>
                <tr>
                    <td>
                        Position
                    </td>
                    <td>
                        Company
                    </td>
                    <td>
                        Department
                    </td>
                    <td>
                        NrOfInterviews
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model.Applications)
                {
                    <tr>
                        <td>
                            <a href="Applications/Details/@application.Id">
                                @application.PositionName
                            </a>
                        </td>
                        <td>
                            @application.CompanyName
                        </td>
                        <td>
                            @application.DepartmentName
                        </td>
                        <td>
                            @application.NrOfInterviews
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>


    <div>
        <h2>Vacancies for your deparments</h2>
        <hr />
        <h3>
            @(Model.Vacancies.Count == 0 ? "You are not responsible for any vacancies" : "")
        </h3>
        <table class="table table-striped" style="@(Model.Vacancies.Count == 0 ? "display:none;" : "")">
            <thead>
                <tr>
                    <td>
                        Position
                    </td>
                    <td>
                        Company
                    </td>
                    <td>
                        Department
                    </td>
                    <td>
                        NrOfApplications
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var vacancy in Model.Vacancies)
                {
                    <tr>
                        <td>
                            <a href="Vacancies/Details/@vacancy.Id">
                                @vacancy.PositionName
                            </a>
                        </td>
                        <td>
                            @vacancy.CompanyName
                        </td>
                        <td>
                            @vacancy.DepartmentName
                        </td>
                        <td>
                            @vacancy.NrOfApplications
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="@(Model.Vacancies.Count == 0 && Model.Applications.Count == 0 && Model.Companies.Count == 0 ? "" : "display:none;")">
        <hr />
        <h1 class="motivation">
            @(Model.Vacancies.Count == 0 && Model.Applications.Count == 0 && Model.Companies.Count == 0 ? "You are completely and absolutely insignificant" : "")
        </h1>
    </div>
</div>
