@model Personalsystem.Models.Interview

@{
    ViewBag.Title = "Skapa ny";
}

<h2>Skapa intervju för @ViewBag.vacancyTitle</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Ansökt av @ViewBag.applicantEmail</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.InterviewDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InterviewDate, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY-MM-DD HH:MM" } })
                    @Html.ValidationMessageFor(model => model.InterviewDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <input type="hidden" name="Application_Id" value="@ViewBag.Application_Id" />
            <input type="hidden" name="applicantEmail" value="@ViewBag.applicantEmail" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Skapa" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Tillbaka till listan", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
<script src="~/Scripts/dropDown.js"></script>