@model Personalsystem.Models.Interview

@{
    ViewBag.Title = "Cancel Interview";
}

<h2>Cancel Interview</h2>

<h3>Are you sure you want to cancel this interview?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Applicant´s e-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applications.Applicant.Email)
        </dd>

        <dt>
            Interviewer's e-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interviewer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterviewDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" />
            <a class="btn btn-info" href="/Interviews/Index/">Back to List</a>
            @*@Html.ActionLink("Tillbaka till listan", "Index")*@
        </div>
    }
</div>
