@model Personalsystem.Models.Interview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applications.Vacancy.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applications.Vacancy.Title)
        </dd>
        
        <dt>
            Applicant´s e-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Applications.Applicant.Email)
        </dd>

        <dt>
            Interviewer´s e-mail
        </dt> 
        <dd>
            @Html.DisplayFor(model => model.Interviewer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterviewDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
    <a class="btn btn-default" href="/Interviews/Edit/@Model.Id">Edit</a>
    <a class="btn btn-info" href="/Interviews/Index/">Back to List</a>
</p>
